#ui-datepicker-div {
    .ui-datepicker-header {
        background: none;
        border: none;
    }
    .ui-datepicker-calendar td>a {
        padding: 4px 2px;
        border: none;
        text-align: center;
        &.ui-state-default {
            background: #fff;
            &.ui-state-highlight {
                border: 1px solid #5e8a80;
                color: #5e8a80;
            }
            &.ui-state-active {
                background: #5e8a80;
                color: #fff;
            }
        }
    }
    .ui-datepicker-prev {
        background: transparent url("/wp-content/themes/schloss-hofeck-theme/dist/images/tuerkis-pfeil-links.png") no-repeat center;
        background-size: contain;
        border: none !important;
        top: 2px;
        left: 2px;
        border-radius: 0 !important;
        cursor: pointer;
    }
    .ui-datepicker-next {
        background: transparent url("/wp-content/themes/schloss-hofeck-theme/dist/images/tuerkis-pfeil-rechts.png") no-repeat center;
        background-size: contain;
        border: none !important;
        top: 2px;
        right: 2px;
        border-radius: 0 !important;
        cursor: pointer;
    }
}