@font-face {
    font-family: 'corporatestot-bold';
    src: url('../fonts/CorporateSTOT-Bol.ttf');
}

@font-face {
    font-family: 'corporatestot-light';
    src: url('../fonts/CorporateSTOT-Lig.ttf');
}

@font-face {
    font-family: 'corporatea-light';
    src: url('../fonts/CorporateA-Light.ttf');
}

@font-face {
    font-family: 'corporateatot-ligita';
    src: url('../fonts/CorporateATOT-LigIta.ttf');
}