* {
    box-sizing: border-box;
    color: #22382c;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#cookie-law-info-bar {
    font-size: 19px;
    line-height: 20px;
    letter-spacing: .03em;
    font-family: corporatea-light, Arial;
}