#content {
    position: relative;
    z-index: 2;
    margin-top: 150px;
}

.headervideo {
    position: relative;
    width: 100%;
    height: calc(100vh - 160px);
    margin-bottom: 50px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 1217px) {
        height: calc(100vh - 160px);
    }
    @media (max-width: 767px) {
        height: calc(100vh - 92px);
        padding-bottom: 55%;
        margin-top: -10%;
    }
    @media(max-width: 959px) {
        margin-top: -60px;
        height: calc(100vh - 90px);
    }
    &:not(.image) {
        background: none !important;
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .scroll-down {
        position: absolute;
        z-index: 10;
        left: calc(50% - 36px);
        bottom: 15px;
        cursor: pointer;
        .icon {
            margin: 0 auto 10px;
            width: 20px;
            height: 41px;
            background: transparent url('../images/scroll-down.svg') no-repeat center;
            background-size: contain;
        }
        .label {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.025em;
        }
    }
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    @media (max-width: 1217px) {
        width: 100vw;
        overflow: hidden;
    }
    .vc_row:nth-child(2) .vc_col-sm-10 .vc_column-inner .vc_column-inner:before {
        background: #57b6b2;
    }
    .wpb_wrapper {
        .wpb_wrapper {
            width: auto;
            h1,
            p,
            h2 {
                font-family: 'corporatea-light', Arial;
            }
            h2 {
                font-size: 26px;
                letter-spacing: 0.03em;
                line-height: 24px;
                color: #b3a16d;
                text-align: right;
                /*word-wrap: normal;*/
                text-transform: uppercase;
                margin-right: -5px;
                span {
                    display: block;
                }
                /*  line-break: normal;
                word-wrap: break-word;
                hyphens: auto;*/
                @media (max-width: 767px) {
                    padding-top: 10px;
                    margin-bottom: 5px;
                }
            }
            p {
                font-size: 19px;
                line-height: 20px;
                letter-spacing: 0.03em;
                @media (max-width: 1217px) {
                    padding-top: 5px;
                }
                em {
                    font-family: 'corporateatot-ligita', Arial;
                }
            }
            h1 {
                font-size: 26px;
                letter-spacing: 0.03em;
                line-height: 24px;
                color: #b3a16d;
                text-align: right;
                word-wrap: normal;
                text-transform: uppercase;
                line-break: normal;
                word-wrap: break-word;
                hyphens: auto;
                @media (max-width: 1217px) {
                    margin-top: -20px;
                    margin-left: -70px;
                    text-align: left;
                }
            }
            h3 {
                font-size: 21px;
                text-align: left;
                line-height: 24px;
                color: #b3a16d;
                font-family: 'corporatea-light', Arial;
                font-size: 21px;
                letter-spacing: 0.03em;
                padding-bottom: 10px;
                margin-right: -5px;
                padding-top: 10px;
                @media (max-width: 767px) {
                    padding-top: 10px;
                    padding-bottom: 5px;
                }
            }
            h4 {
                font-family: 'corporatestot-bold', Arial;
                font-size: 22px;
                color: #22382c;
                padding: 10px 0;
            }
        }
    }
    .wpb_text_column {
        //distance after the images
        margin-bottom: 0 !important;
        padding-bottom: 0px !important;
    }
    div.vc_row {
        margin: 0 -10px 0; //hre
        @media (max-width: 1217px) {
            margin: 0;
        }
        .vc_col-sm-2 {
            .vc_column-inner {
                @media (max-width: 1217px) {
                    position: absolute;
                    margin: 0 100px;
                    /*NOW*/
                }
                h2 {
                    text-align: right;
                    padding-left: 51px;
                    @media (max-width: 1217px) {
                        width: 500px;
                        text-align: left;
                        margin-top: -40px;
                        margin-left: -120px;
                    }
                    &:after {
                        display: block;
                        position: absolute;
                        top: 281px;
                        right: -1px;
                        bottom: -87px;
                        background: #b1a06e;
                        width: 1px;
                        content: "";
                    }
                }
            }
        }
        .vc_col-sm-10 {
            width: 83%;
            margin-top: 5px;
            @media (max-width: 767px) {
                top: 15px;
            }
            .vc_col-sm-4 {
                .vc_column-inner {
                    @media (max-width: 767px) {
                        margin-top: 5px;
                    }
                }
                #paket.wpb_text_column.wpb_content_element {
                    padding-top: 103px;
                    @media (max-width: 641px) {
                        padding-top: 0;
                    }
                }
                #preise {
                    width: 200%;
                    &:before {
                        display: block;
                        position: absolute;
                        top: 325px;
                        left: -1px;
                        bottom: 30px;
                        background: #b1a06e;
                        width: 1px;
                        content: "";
                        @media(max-width: 767px) {
                            bottom: 0;
                        }
                    }
                    p {
                        padding-bottom: 19px;
                        @media(max-width: 767px) {
                            width: 50%;
                        }
                    }
                }
                p {
                    a {
                        color: #675a31;
                    }
                }
            }
            @media (max-width: 1217px) {
                width: 100%;
                padding: 0 30px !important;
            }
        }
        .vc_col-sm-8 {
            margin-top: 5px;
            .vc_column-inner {
                position: relative;
                &:before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -10px;
                    bottom: 0;
                    background: #b1a06e;
                    width: 1px;
                    content: "";
                }
            }
            p {
                p:first-child {
                    padding-bottom: 10px;
                }
            }
            .vc_col-sm-4 {
                p {
                    border-left: #b1a06e 1px solid;
                }
            }
        }
        .vc_column_container {
            padding: 0 10px;
            @media (max-width: 1217px) {
                padding-top: 10px;
            }
            .vc_column-inner {
                padding: 0;
                margin-bottom: 20px;
                .vc_align_left {
                    margin-bottom: 0px !important;
                }
                .wpb_wrapper {
                    padding: 0;
                }
            }
        }
    }
    .images {
        height: 100%;
    }
    .images:not(:first-child) {
        display: none;
    }
    /*List*/
    li {
        font-family: 'corporatestot-light', 'Arial';
        font-size: 1.17em;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #22382c;
        position: relative;
        padding-left: 15px;
        &:before {
            background-color: #22382c;
            border-radius: 50%;
            content: "";
            height: 7px;
            width: 7px;
            position: absolute;
            left: 0;
            top: 5px;
        }
    }
    tbody {
        font-family: 'corporatestot-light', 'Arial';
        font-size: 22px;
        color: #22382c;
        strong {
            font-weight: bold;
        }
        .first-col {
            border-right: 1px solid #22382c
        }
        td {
            p {
                border: none !important;
            }
        }
    }
    /*Visual Composer 2nd h2 above the 3 images*/
    .details {
        h2 {
            margin-top: 300px;
            text-align: right;
            @media (max-width: 1217px) {
                margin-top: 0;
            }
        }
    }
}