#footer {
    background: transparent url("/wp-content/themes/schloss-hofeck-theme/dist/images/footer-background.png") repeat center;
    height: auto;
    padding-bottom: auto;
    .validation_error {
        background-color: #b63430;
        color: #d3d7d5;
    }
    #kontakt {
        margin-left: auto;
        margin-right: auto;
        width: 588px;
        @media (max-width: 767px) {
            width: 95vw;
        }
        .gform_body {
            display: inline-block;
            @media (max-width: 641px) {
                display: grid;
                width: 95vw;
            }
            .gform_fields .gfield {
                float: left;
                width: 100%;
                &.field_description_above .gfield_label {
                    display: block;
                    margin-top: 10px;
                }
                &.width-1-2 {
                    width: 50%;
                }
                &.width-1-3 {
                    width: 33.333%;
                }
                .gfield_checkbox li {
                    input {
                        vertical-align: top;
                        margin-top: 3px;
                    }
                    label {
                        color: white;
                        font-family: 'corporatea-light', sans-serif;
                        letter-spacing: 0.07em;
                        font-size: 16px;
                        font-weight: 400;
                        a {
                            color: #fff;
                        }
                    }
                }
                &.datepicker input {
                    background: transparent url("/wp-content/themes/schloss-hofeck-theme/dist/images/datepicker.png") no-repeat right 14px center;
                    padding-right: 30px;
                }
            }
            select {
                width: 100%;
                background-color: transparent;
                color: white;
                font-family: 'corporatea-light', sans-serif;
                border-style: solid;
                border-width: 1px;
                border-color: white;
                padding: 11px 14px;
                letter-spacing: 0.07em;
                font-size: 16px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 0;
                background: transparent url("/wp-content/themes/schloss-hofeck-theme/dist/images/dropdown-arrow.png") no-repeat right 14px center;
                @media (max-width: 641px) {
                    height: 62px;
                }
            }
            select::-ms-expand {
                display: none;
                /* remove default arrow in IE 10 and 11 */
            }
        }
        .form-heading {
            position: relative;
            font-family: 'corporatea-light', serif;
            padding-top: 40px;
            h3 {
                font-size: 27px;
                line-height: 29px;
                letter-spacing: 0.07em;
                color: #e0b65d;
                padding-right: 14px;
                float: left;
                height: 50px;
            }
            p {
                color: #e0b65d;
                font-size: 21px;
                border-left: 1px;
                border-style: solid;
                border-color: #e0b65d;
                width: 530px;
                margin-left: 130px;
                text-align: left;
                padding-left: 11px;
            }
        }
        .gfield {
            clear: none;
            margin-bottom: 0px !important;
        }
        /* 
        #gform_fields_1 {
            padding-top: 0px;
        } */
        .gform {
            height: 200px;
        }
        label {
            color: #fff;
        }
        .gfield_label {
            display: none;
        }
        input,
        textarea {
            width: 100%;
            background-color: transparent;
            color: white;
            font-family: 'corporatea-light', sans-serif;
            border-style: solid;
            border-width: 1px;
            border-color: white;
            padding: 14px;
            letter-spacing: 0.07em;
            font-size: 16px;
            &[type="checkbox"] {
                margin-top: 0;
            }
        }
        .gform_wrapper input[type="submit"] {
            font-family: 'corporatea-light';
            font-size: 17px;
            padding: 0px !important;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-width: 0 0 1px 0;
            width: 100px;
            position: relative;
            left: 237px;
            cursor: pointer;
            margin-bottom: 30px;
            @media (max-width: 767px) {
                left: 50%;
                margin-left: -12.5%;
            }
        }
        /* form placeholder overrides the grey placeholder text
                    --------------------------------------------- */
         ::-webkit-input-placeholder {
            /* Chrome */
            color: white !important;
        }
         :-ms-input-placeholder {
            /* IE 10+ */
            color: white !important;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: white !important;
            opacity: 1 !important;
        }
         :-moz-placeholder {
            /* Firefox 4 - 18 */
            color: white !important;
            opacity: 1 !important;
        }
        .gfield_description {
            &.validation_message {
                color: #d3d7d5;
                background-color: #b63430;
                padding-bottom: 5px;
            }
        }
    }
}

#footer-menu {
    float: right;
    padding: 23px;
    text-transform: uppercase;
    margin-top: -15px;
    bottom: 0;
    .menu {
        position: relative;
        height: 0;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        a {
            text-decoration: none;
            &:after {
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 43%;
                position: relative;
                background: #22382c;
                transition: width .3s ease 0s, left .3s ease 0s;
                width: 0;
            }
            &:hover:after {
                width: 98%;
                left: 0%;
            }
        }
    }
}