.menu {
    text-align: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 9999;
    height: 150px;
    @media (max-width: 1230px) {}
    @media (max-width: 1024px) {
        right: 0;
        left: 0;
        width: 100%;
    }
    @media (max-width: 767px) {
        height: auto;
        background: none;
    }
    @media (max-width: 768px) {
        height: auto;
        background: none;
    }
    @media (max-width: 980px) {
        height: auto;
        background: none;
    }
    .iconbox {
        display: none;
        @media (max-width: 980px) {
            width: 100vw;
            display: block;
            opacity: 1;
            overflow: hidden;
            background-color: white;
        }
        @media(max-width: 768px) {
            width: 100vw;
            display: block;
            opacity: 1;
            overflow: hidden;
            background-color: white;
        }
        @media (max-width: 767px) {
            width: 100vw;
            display: block;
            opacity: 1;
            overflow: hidden;
            background-color: white;
        }
        .icon {
            background: url('../images/logo-schloss-hofeck.png') no-repeat;
            left: 0;
            top: 50%;
            @media (max-width: 980px) {
                width: 100px;
                height: 55px;
                float: left;
                background-size: contain;
                margin: 23px;
            }
            @media (max-width: 767px) {
                width: 100px;
                height: 55px;
                display: block;
                background-size: contain;
                margin: 23px;
            }
            @media (max-width: 768px) {
                width: 100px;
                height: 55px;
                float: left;
                background-size: contain;
                margin: 23px;
            }
        }
        .seperator {
            border-bottom: #d3d7d5 solid 1px;
            width: 100%;
        }
        .hamburger {
            position: absolute;
            margin: 0;
            width: 50px;
            height: 51px;
            cursor: pointer;
            align-content: center;
            top: 25px;
            right: calc( 50% - 32px);
            padding: 25px 0;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -16px;
                height: 3px;
                width: 32px;
                background-color: #675a31;
                display: block;
                position: absolute;
                z-index: 5;
                transition: transform 0.75s, opacity 0.75s;
                &:nth-child(1) {
                    margin-top: -8px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    margin-top: -2px;
                }
                &:last-child {
                    margin-top: 4px;
                }
            }
            @media (max-width: 980px) {
                float: left;
            }
            @media (max-width: 767px) {
                float: left;
                margin: auto;
            }
        }
        .hamburger-expanded {
            transition: all 0.25s;
            text-align: center;
            span {
                &:nth-child(1) {
                    opacity: 0;
                    transform: scale(0);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                }
                &:last-child {
                    opacity: 0;
                    transform: scale(0);
                }
            }
        }
        .anfragen {
            text-decoration: none;
            white-space: nowrap;
            text-align: center;
            width: auto;
            width: auto;
            height: auto;
            position: relative;
            margin: 35px;
            float: right;
            a {
                color: #b63430;
                line-height: 21px;
                height: 31px;
                display: inline-block;
                padding: 5px 8px;
                text-decoration: underline;
            }
            /* a:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 43%;
                position: relative;
                background: #b63430; //here
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }*/
            a:hover:after {
                width: 68%;
                left: 15px;
            }
        }
    }
}

.menu-items {
    color: #b3a16d;
    font-size: 17px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background-color: white;
    margin-top: -40px;
    @media (max-width: 980px) {
        top: 0;
        left: 0;
        height: auto;
        width: 100vw;
        transition: box-shadow .4s ease-in-out;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
        /* opacity: 0.9;  for opacity effect*/
        display: none;
    }
    @media (max-width: 767px) {
        top: 0;
        left: 0;
        height: auto;
        width: 100vw;
        transition: box-shadow .4s ease-in-out;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
        /* opacity: 0.9;  for opacity effect*/
        display: none;
    }
    @media (max-width: 768px) {
        top: 0;
        left: 0;
        height: auto;
        width: 100vw;
        transition: box-shadow .4s ease-in-out;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
        /* opacity: 0.9;  for opacity effect*/
        display: none;
    }
    li::before {
        content: "";
    }
    .navigation {
        margin-top: 40px;
    }
    li {
        display: inline-block;
        font-family: 'corporatea-light', Arial;
        letter-spacing: 0.06em;
        margin-bottom: 0;
        margin-top: 27px;
        padding: 5px 15px;
        height: 85px;
        @media (max-width: 1230px) {
            padding: 5px 10px;
            letter-spacing: 0.03em;
        }
        @media (max-width: 980px) {
            position: relative;
            display: block;
            clear: both;
            margin-top: 0px;
            height: auto;
            padding: 30px 0;
            border-top: #d3d7d5 solid 1px;
        }
        &:first-child {
            @media (max-width: 980px) {
                display: none;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:first-child img {
            margin-bottom: -30px;
            padding-top: 5px;
        }
        &:last-child {
            @media(max-width: 980px) {
                display: none !important;
            }
        }
        &:last-child a {
            color: #b63430;
            text-decoration: underline;
            @media(max-width: 980px) {
                display: none;
            }
        }
        &:first-child a:after {
            display: none;
        }
        /*Smaller Screen Media Query*/
        @media (max-width: 768px) {
            position: relative;
            display: block;
            clear: both;
            margin-top: 0px;
            height: auto;
            padding: 30px 0;
            border-top: #d3d7d5 solid 1px;
        }
        a {
            text-decoration: none;
            padding-right: 5px;
            padding-left: 0px;
            color: #675a31;
            display: inline-block;
            white-space: nowrap;
            text-align: center;
            &:hover {
                color: #b63430;
                transition: color 0.5s ease-in-out;
                cursor: pointer;
            }
             :after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 1px;
                left: 43%;
                position: relative;
                background: #b63430; //here
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
             :hover:after {
                width: 98%;
                left: 0%;
            }
        }
    }
}