/*Slider*/

#wrapper .slider {
    height: 100%;
    position: relative;
    font-family: 'object-fit: cover; object-position:top;';
    left: 50%;
    margin-left: -50vw;
    width: 100vw !important;
    margin-bottom: 60px;
    overflow: hidden;
    @media (max-width: 767px) {
        width: 100% !important;
        left: 0;
        margin: 0 0 25px;
    }
    &.image-right {
        .slide-bullets {
            li {
                font-family: 'corporatestot-light', Arial;
                font-size: 18px;
                color: white;
                float: left;
                clear: both;
                position: relative;
                text-align: right;
                margin-left: 85px;
                padding-left: 37px;
                text-align: left;
                &:before {
                    border-radius: 50%;
                    content: "";
                    height: 12px;
                    width: 12px;
                    position: absolute;
                    right: -13px;
                    top: 4px;
                    @media (max-width: 1024px) {
                        left: 8px !important;
                    }
                }
                @media (max-width:1024px) {
                    margin-left: -79px;
                    padding-left: 37px;
                }
                /*       @media (max-width:767px) {
                    margin-left: -62px;
                }*/
            }
        }
        .slide-nav {
            position: relative;
            clear: both;
            margin-left: 100px;
            margin-top: 20px;
            top: 20px;
            .previous,
            .next {
                display: inline-block;
            }
            @media (max-width:1024px) {
                margin-left: -60px;
            }
        }
        .image-slider {
            float: right;
        }
        .text-slider {
            left: calc(3% + 40px);
            border-left: 0px;
            display: inline-block;
            width: 38%;
            @media (max-width: 767px) {
                right: 10px;
                width: calc( 100% - 20px);
                margin-left: 25px;
                margin-top: 0;
                padding-top: 65%;
                top: 0;
                padding-bottom: 25px;
            }
            /*             @media (max-width:768px) {
                right: calc(52% + 40px);
                margin-left: 10px;
            } */
            .arrows {
                margin-left: 100px;
                @media(max-width: 767px) {
                    position: absolute;
                    margin-left: 70px;
                }
            }
            .slider-details {
                text-align: left;
                padding-left: 10px;
                height: 100%;
                display: block;
                border-left: 1px solid;
                width: auto;
                float: right;
                margin-left: 84px;
                padding-bottom: 20px;
                @media (max-width: 1024px) {
                    margin-right: 0px;
                    padding-left: 20px;
                    margin-right: 80px;
                    margin-left: -65px;
                }
                /*                 @media (max-width: 768px) {
                    margin-right: 0px;
                    padding-left: 20px;
                    padding-right: 90px;
                    margin-left: -45px;
                } */
                p {
                    margin-bottom: 30px;
                }
                img {
                    float: right;
                }
            }
            .slider-heading {
                font-size: 27px;
                width: 150px;
                text-align: right !important;
                text-transform: uppercase;
                float: left !important;
                margin-left: -65px;
                padding-left: 0px !important;
                padding-right: 20px;
                border-right: 1px solid;
                border-left: 0px;
                @media (max-width: 1024px) {
                    width: 165px;
                    text-align: left !important;
                    padding-left: 20px !important;
                    line-break: auto;
                    margin-right: 10px;
                    display: block;
                    margin-right: 0px;
                    float: left;
                    border-right: 0px;
                    border-left: 1px solid;
                    padding-right: 20px;
                }
                /*                 @media (max-width: 768px) {
                    margin-left: -45px;
                    margin-top: 70px;
                } */
                span {
                    color: white;
                    text-align: right;
                }
                h3 {
                    color: #b3a16d;
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                    @media (max-width:767) {}
                }
            }
        }
    }
    .image-slider {
        height: 825px;
        width: 55%;
        float: left;
        @media (max-width: 767px) {
            position: absolute;
            height: 0;
            padding-bottom: 65%;
            z-index: 3;
            width: 100%;
        }
        .slick-list {
            height: 100%;
            width: 100%;
            position: absolute;
            .slick-track {
                height: 100%;
                .slick-slide {
                    height: 100%;
                    div {
                        height: 100%;
                        .images {
                            height: 100%;
                        }
                    }
                }
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


/*image-left slider*/

.text-bg-slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
    float: right;
    background-size: cover;
    margin-bottom: 20px;
    @media (max-width: 767px) {}
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        @media (max-width: 767px) {
            height: 100%;
        }
    }
    &.brown {
        background: url(/wp-content/themes/schloss-hofeck-theme/src/images/holz.png) no-repeat;
        background-size: cover;
    }
    &.green {
        background: url(/wp-content/themes/schloss-hofeck-theme/src/images/blatt.jpg) no-repeat;
        background-size: cover;
    }
    &.red {
        background: url(/wp-content/themes/schloss-hofeck-theme/src/images/rot-bg.png) no-repeat;
        background-size: cover;
    }
}

.text-bg-slide:not(:first-child) {
    display: none;
}

.text-bg-slider {
    height: 825px;
    width: 45%;
    float: right;
    @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        position: absolute !important;
        padding-top: 65%;
    }
    .slick-list {
        height: 100%;
        @media (max-width: 767px) {
            height: 100%;
        }
        .slick-track {
            height: 100%;
            @media (max-width: 767px) {
                height: 100%;
            }
            .slick-slide {
                height: 100%;
                >div {
                    height: 100%;
                    @media (max-width: 767px) {
                        height: 100%;
                    }
                }
            }
        }
    }
}

#wrapper .text-slider {
    width: 42%;
    max-width: 500px;
    color: #22382c;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(56% + 20px);
    top: 70px; // the starting point of the entire text on top of the slider
    font-family: 'corporatea-light', Arial !important;
    line-height: 29px;
    letter-spacing: 0.03em;
    z-index: 9999;
    @media (max-width: 1024px) {
        padding-left: 10px;
    }
    @media (max-width: 767px) {
        width: calc(100% - 20px);
        left: 15px;
        z-index: 3999;
        height: auto;
        position: relative !important;
        max-width: 96%;
        padding-top: 65%;
        top: 0;
        padding-bottom: 25px;
        /* HEY!!!*/
    }
    .arrows {
        margin-top: 15px;
        margin-left: 135px;
        >div {
            position: relative;
            display: inline-block;
            width: 26px;
            height: 27px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        @media(max-width: 767px) {
            top: 0;
            position: absolute;
            left: -123px;
            padding-top: 70%;
        }
    }
    .slide:not(:first-child) {
        display: none;
    }
    .slick-list {
        overflow: visible;
    }
    .slider-heading {
        font-size: 27px;
        width: 156px;
        text-align: right;
        text-transform: uppercase;
        border-right: 1px solid;
        padding-right: 20px !important;
        margin-left: -20px;
        @media (max-width: 1024px) {
            width: 15vw;
            text-align: left;
            padding-left: 20px;
            line-break: auto;
            margin-right: 10px;
            display: block;
            border-right: 0px;
            border-left: 1px solid #b3a16d;
            margin-left: 0px;
            margin-top: 70px;
        }
        span {
            text-align: right;
        }
        h3 {
            @media (max-width: 767px) {
                width: 100%;
                /*  margin-top: 70px; */
            }
        }
    }
    .slider-details {
        padding-top: 20px;
        font-size: 21px;
        color: white;
        text-align: left;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-left: 135px;
        padding-left: 20px;
        border-left: 1px solid;
        padding-bottom: 20px;
        @media (max-width: 1220px) {
            padding-right: 20px;
        }
        @media (max-width: 1024px) {
            margin: 0;
            padding-left: 20px;
            padding-top: 10px;
            display: block;
            padding-right: 20px;
        }
        a {
            display: inline-block;
            cursor: pointer;
        }
        p {
            margin-bottom: 30px;
            color: white;
            height: auto;
            @media (max-width: 321px) {
                font-size: 18px;
                margin-bottom: 0px;
            }
        }
    }
    .slide-bullets {
        &.d-gruen li:before {
            background-color: #22382c;
        }
        &.weiss li:before {
            background-color: white;
        }
        &.gruen li:before {
            background-color: #20372c;
        }
        li {
            font-family: 'corporatestot-light', Arial;
            font-size: 18px;
            float: left;
            clear: both;
            margin-left: 135px;
            position: relative;
            padding-left: 20px;
            &:before {
                border-radius: 50%;
                content: "";
                height: 12px;
                width: 12px;
                position: absolute;
                left: -5px;
                top: 0;
                @media(max-width: 1024px) {
                    left: -5px;
                }
            }
            @media (max-width:1024px) {
                margin-left: 0;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    .slide-nav {
        position: relative;
        clear: both;
        margin-left: 160px;
        margin-top: 20px;
        top: 20px;
        .previous,
        .next {
            display: inline-block;
        }
        @media (max-width:1024px) {
            margin-left: 20px;
        }
    }
}